
<div class="form-layout">
    <!-- <div *ngIf="error" style="margin-left: 76px;
    color: red;">{{error}}</div> -->
    <form style="margin-left: 18px;margin-right: 14px;margin-top: 16px;" [formGroup]="forgotPasswordDetails" (ngSubmit)="submitFrom()">
        <h4 style="color: blueviolet;
        margin-bottom: 13px;">Forgot Password Page</h4>
        <mat-form-field class="example-full-width" style="width:260px !important">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="pat@example.com" style="width: 50px;">
        </mat-form-field>
        <!-- <div  class="alert alert-danger errorClass" *ngIf="formDetails.value.confirm_password && formDetails.value.confirm_password != formDetails.value.password">
          <div >Password and Confirm Password must be match.</div>
      </div> -->
        <button mat-flat-button color="primary" style="width: 263px;height: 31px;background: blueviolet;border-radius: 5px;margin-bottom: 13px;" routerLink="/login">Send</button>
      </form>
     
</div>
