.form-layout{
    border: 2px solid blueviolet;
    width: 300px;
    margin-left: 487px;
    margin-top: 110px;
    height: 328px;
}
.mat-input-wrapper{
    width:400px !important;
  }
  .e-toast-container .e-toast {
    background-color: navy;
}
.create-account{
    text-align: center;
    margin-top: 18px;
    color: blueviolet;
    cursor: pointer;
}